*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to left top, yellow, lightblue, yellow);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}

h1{
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
}

.container{
    background: rgba(255,255,255,0.3);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input input{
    padding: 10px;
    width: 65%;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    
}

p{
    font-size: 20px;
}